<div class="login-container">
  <div class="left">
    <img src="/arroba-image.png" alt="logo" class="arroba-img" />
  </div>

  <div class="right">
    <div class="login-box">
      <img src="/logo-facturactiva.png" alt="facturactiva" class="logo" />
      <p>Inicie sesión en su cuenta.</p>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- Usuario -->
        <label class="input-label">Usuario:</label>
        <div class="input-group">
          <input type="email" formControlName="usuario" placeholder="usuario@facturactiva.com" />
          <span class="icon"><i class="fa-solid fa-envelope"></i></span>
        </div>
        <div *ngIf="(submitted || f['usuario'].touched) && f['usuario'].errors" class="error">
          <small *ngIf="f['usuario'].errors['required']">El usuario es requerido.</small>
          <small *ngIf="f['usuario'].errors['email']">Ingrese un correo válido.</small>
        </div>

        <!-- Contraseña -->
        <label class="input-label">Contraseña:</label>
        <div class="input-group">
          <input type="password" formControlName="password" placeholder="Introduzca su contraseña" />
          <span class="icon"><i class="fa-solid fa-lock"></i></span>
        </div>
        <div *ngIf="(submitted || f['password'].touched) && f['password'].errors" class="error">
          <small *ngIf="f['password'].errors['required']">La contraseña es requerida.</small>
        </div>

        <a href="#" class="forgot" (click)="openModal()">¿Olvidó su contraseña?</a>
        <button type="submit">Inicie sesión</button>
      </form>
    </div>
  </div>
</div>
<div class="modal-backdrop" *ngIf="showModal"></div>
<div class="modal-container" *ngIf="showModal">
  <div class="modal-box">
    <h3>Recuperar contraseña</h3>
    <p>Ingrese su correo para enviar un enlace de recuperación.</p>
    <input type="email" placeholder="usuario@facturactiva.com" class="modal-input" />
    <div class="modal-buttons">
      <button class="btn-send">Enviar</button>
      <button class="btn-cancel" (click)="closeModal()">Cancelar</button>
    </div>
  </div>
</div>
