html, body {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: #f0f0f0; /* o tu color exacto */
  box-shadow: none;
  height: 100%;
  overflow: hidden; /* 🔥 evita que aparezca línea inferior o scroll */
}

.login-container {
  border: none;
  outline: none;
  box-shadow: none;
  height: 100vh; /* ocupa toda la pantalla */
  overflow: hidden;
}

